In [1]:
from langchain.llms import GooglePalm
api_key="AIzaSyD5lQHerPg06aNNIr06W4gy1IH_0g5c0FA"
llm = GooglePalm(google_api_key=api_key,temperature=0.2)
poem=llm("write a poem on my love for pav bhaji")
print(poem)

Oh, pav bhaji, you are my one true love,
Your flavors dance on my tongue like a symphony.
Your spicy sauce and tender vegetables warm my heart,
And your fluffy pav soak up every last drop.

I love the way you smell, so inviting and delicious,
And the way you look, so colorful and vibrant.
But most of all, I love the way you taste,
So hearty and satisfying.

You are the perfect comfort food,
The perfect way to end a long day.
When I'm feeling down, you always pick me up,
And when I'm feeling happy, you make me even happier.

Oh, pav bhaji, you are my one true love,
And I will never stop loving you.

In [3]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "root"
db_host = "localhost"
db_name = "atliq_tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Levi	Black	XL	32	97
2	Van Huesen	Red	XL	17	26
3	Levi	Blue	XL	19	48
*/

In [4]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm,db,verbose=True)
db_chain("How many t-shirts do we have left for nike in extra large size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for nike in extra large size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XL'
SQLResult: [(47,)]
Answer:47
> Finished chain.

{'query': 'How many t-shirts do we have left for nike in extra large size and white color?',
 'result': '47'}

In [5]:
qns1=db_chain("Give me a list of all small size t shirts?")

> Entering new SQLDatabaseChain chain...
Give me a list of all small size t shirts?
SQLQuery:SELECT t_shirt_id, brand, color, size, price, stock_quantity FROM t_shirts WHERE size = 'S'
SQLResult: [(9, 'Van Huesen', 'White', 'S', 37, 48), (13, 'Adidas', 'Red', 'S', 39, 88), (21, 'Adidas', 'White', 'S', 39, 65), (36, 'Levi', 'Black', 'S', 29, 49), (41, 'Van Huesen', 'Blue', 'S', 36, 45), (47, 'Van Huesen', 'Black', 'S', 14, 90), (52, 'Adidas', 'Blue', 'S', 24, 83), (57, 'Nike', 'Red', 'S', 14, 82), (63, 'Nike', 'White', 'S', 13, 48), (83, 'Adidas', 'Black', 'S', 26, 43), (89, 'Van Huesen', 'Red', 'S', 35, 91), (94, 'Levi', 'White', 'S', 37, 52)]
Answer:t_shirt_id, brand, color, size, price, stock_quantity
9, Van Huesen, White, S, 37, 48
13, Adidas, Red, S, 39, 88
21, Adidas, White, S, 39, 65
36, Levi, Black, S, 29, 49
41, Van Huesen, Blue, S, 36, 45
47, Van Huesen, Black, S, 14, 90
52, Adidas, Blue, S, 24, 83
57, Nike, Red, S, 14, 82
63, Nike, White, S, 13, 48
83, Adidas, Black, S, 26, 43
89, Van Huesen, Red, S, 35, 91
94, Levi, White, S, 37, 52
> Finished chain.

In [6]:
db_chain("Give me the total value of stalk for brand levis?")

> Entering new SQLDatabaseChain chain...
Give me the total value of stalk for brand levis?
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('24218'),)]
Answer:24218
> Finished chain.

{'query': 'Give me the total value of stalk for brand levis?',
 'result': '24218'}

In [7]:
qns2=db_chain("how much is the price of the inventory for all small size t shirts?")

> Entering new SQLDatabaseChain chain...
how much is the price of the inventory for all small size t shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('343'),)]
Answer:343
> Finished chain.

In [8]:
db_chain("what is the maximum discount on brands?")

> Entering new SQLDatabaseChain chain...
what is the maximum discount on brands?
SQLQuery:SELECT max(pct_discount) FROM discounts
SQLResult: [(Decimal('45.00'),)]
Answer:45.00
> Finished chain.

{'query': 'what is the maximum discount on brands?', 'result': '45.00'}

In [9]:
db_chain("what is the maximum discount on brandwise?")

> Entering new SQLDatabaseChain chain...
what is the maximum discount on brandwise?
SQLQuery:SELECT max(pct_discount) FROM discounts GROUP BY t_shirt_id
SQLResult: [(Decimal('10.00'),), (Decimal('15.00'),), (Decimal('20.00'),), (Decimal('5.00'),), (Decimal('25.00'),), (Decimal('10.00'),), (Decimal('30.00'),), (Decimal('35.00'),), (Decimal('40.00'),), (Decimal('45.00'),)]
Answer:40.00
> Finished chain.

{'query': 'what is the maximum discount on brandwise?', 'result': '40.00'}

In [10]:
db_chain("give me the list for all brand name and discount")

> Entering new SQLDatabaseChain chain...
give me the list for all brand name and discount
SQLQuery:SELECT brand, pct_discount FROM discounts JOIN t_shirts ON discounts.t_shirt_id = t_shirts.t_shirt_id
SQLResult: [('Levi', Decimal('10.00')), ('Van Huesen', Decimal('15.00')), ('Levi', Decimal('20.00')), ('Levi', Decimal('5.00')), ('Nike', Decimal('25.00')), ('Nike', Decimal('10.00')), ('Van Huesen', Decimal('30.00')), ('Nike', Decimal('35.00')), ('Van Huesen', Decimal('40.00')), ('Van Huesen', Decimal('45.00'))]
Answer:Levi, 10.00% | Van Huesen, 15.00% | Levi, 20.00%
> Finished chain.

{'query': 'give me the list for all brand name and discount',
 'result': 'Levi, 10.00% | Van Huesen, 15.00% | Levi, 20.00%'}

In [11]:
qns1

{'query': 'Give me a list of all small size t shirts?',
 'result': 't_shirt_id, brand, color, size, price, stock_quantity\n9, Van Huesen, White, S, 37, 48\n13, Adidas, Red, S, 39, 88\n21, Adidas, White, S, 39, 65\n36, Levi, Black, S, 29, 49\n41, Van Huesen, Blue, S, 36, 45\n47, Van Huesen, Black, S, 14, 90\n52, Adidas, Blue, S, 24, 83\n57, Nike, Red, S, 14, 82\n63, Nike, White, S, 13, 48\n83, Adidas, Black, S, 26, 43\n89, Van Huesen, Red, S, 35, 91\n94, Levi, White, S, 37, 52'}

In [12]:
qns2

{'query': 'how much is the price of the inventory for all small size t shirts?',
 'result': '343'}

In [13]:
qns1 = db_chain("How many t-shirts do we have left for levis in extra small size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for levis in extra small size and white color?
SQLQuery:

Retrying langchain.llms.google_palm.generate_with_retry.<locals>._generate_with_retry in 2.0 seconds as it raised InternalServerError: 500 An internal error has occurred. Please retry or report in https://developers.generativeai.google/guide/troubleshooting.

SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White' AND size = 'XS'
SQLResult:
Answer:0
> Finished chain.

In [14]:
qns2 = db_chain.run("SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('22035'),)]
Answer:22035
> Finished chain.

In [15]:
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
"""
qns3=db_chain.run(sql_code)

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('23510.200000'),)]
Answer:23510.2
> Finished chain.

In [16]:
qns4 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('24218'),)]
Answer:24218
> Finished chain.

In [17]:
qns5 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('259'),)]
Answer:259
> Finished chain.

In [18]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : ''.join(str(qns1))},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': ''.join(str(qns2))},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': ''.join(str(qns3))} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : ''.join(str(qns4))},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : ''.join(str(qns5))
    }
]

In [19]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma


embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

In [20]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma


embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

In [21]:
embeddings

HuggingFaceEmbeddings(client=SentenceTransformer(
  (0): Transformer({'max_seq_length': 256, 'do_lower_case': False}) with Transformer model: BertModel
  (1): Pooling({'word_embedding_dimension': 384, 'pooling_mode_cls_token': False, 'pooling_mode_mean_tokens': True, 'pooling_mode_max_tokens': False, 'pooling_mode_mean_sqrt_len_tokens': False})
  (2): Normalize()
), model_name='sentence-transformers/all-MiniLM-L6-v2', cache_folder=None, model_kwargs={}, encode_kwargs={}, multi_process=False)

In [22]:
to_vectorize = [" ".join(example.values()) for example in few_shots]

In [23]:
to_vectorize

["How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS' Result of the SQL query {'query': 'How many t-shirts do we have left for levis in extra small size and white color?', 'result': '0'}",
 "How much is the total price of the inventory for all S-size t-shirts? SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S' Result of the SQL query 22035",
 "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)? SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n  Result of the SQL query 23510.2",
 "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount? SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi' Result of the SQL query 24218",
 "How many white color Levi's shirt I have? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White' Result of the SQL query 259"]

In [24]:
vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=few_shots)

In [25]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How many Adidas T shirts I have left in my store?"})

[{'Answer': "{'query': 'How many t-shirts do we have left for levis in extra small size and white color?', 'result': '0'}",
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '24218',
  'Question': 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?',
  'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
  'SQLResult': 'Result of the SQL query'}]

In [26]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [27]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [28]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [29]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [30]:
new_chain("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('22035'),)]
Answer:22035
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shirts?',
 'result': '22035'}

In [31]:
new_chain("If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('19813.050000'),)]
Answer:19813.05
> Finished chain.

{'query': 'If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
 'result': '19813.05'}

In [32]:
new_chain("If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Van Huesen'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('22360.500000'),)]
Answer:22360.5
> Finished chain.

{'query': 'If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
 'result': '22360.5'}

In [33]:
new_chain.run('How much revenue  our store will generate by selling all Van Heuson TShirts without discount?')

> Entering new SQLDatabaseChain chain...
How much revenue  our store will generate by selling all Van Heuson TShirts without discount?
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Van Huesen'
SQLResult: [(Decimal('24039'),)]
Answer:24039
> Finished chain.

'24039'